{% extends 'Lwo/driver_list.html' %}
{% load static %}
{% block table %}
  <div class="table-data">
    <div class="order">
      <div class="head">
        <h3>Bajaji Details</h3>
        <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
        <i class="fa-solid fa-plus"></i>
      </div>
      <table>
        <thead>
          <tr>
            <th>Bajaji Number</th>
            <th>Driver name</th>
            <th>Date Contract</th>
          </tr>
        </thead>
        <tbody>
          {% for bajajis in bajaji %}
          <tr>
            <td>{{bajajis.registration_no}}</td>
            <td>
              <img src="{{bajajis.driver.imageURL}}">
              <p>{{bajajis.driver.name}}</p>
            </td>
            <td>{{bajajis.driver.start_date}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}